@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gloock";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Gloock-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo Narrow Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ArchivoNarrow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo Narrow Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ArchivoNarrow-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo Narrow Italic";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/ArchivoNarrow-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo Narrow Bold Italic";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/ArchivoNarrow-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo Narrow SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/ArchivoNarrow-SemiBold.ttf") format("truetype");
}
